.course-name {
  height: 100%;
  margin-left: 20px;
  margin-top: 16px;
  color: red;
  font-size: 25px;
  display: flex;
  align-items: center;
  padding-bottom: 5px;
}
.course-name-link, .course-name-link2 {
  color: red;
  text-decoration: none;
  font-size: 20px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-bottom: 2px;
  white-space: nowrap;
}
.course-name-link:hover, .course-name-link2:hover {
  text-decoration: underline;
}

.course-name-small {
  font-size: 10px;
  font-style: italic;
  margin-left: 20px;
}
.header {
  margin-top: 40px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
.custom-breadcrumb {
  --bs-breadcrumb-divider: ">";
}
.custom-breadcrumb .breadcrumb-item {
  display: flex;
  align-items: center; /* Align items vertically in the center */
  margin-right: 10px; /* Adjust as needed */
}
.page-title {
  width: 100%;
  display: flex;
  height: 100%;
  margin-top: 16px;
  font-size: 20px;
}
.page-title:hover a {
  text-decoration: underline;
}

.page-title a {
  color: black;
  text-decoration: none; /* Removes underline */
}
.seperator {
  margin-left: 20px;
}

.course-nav {
  display: flex;
  align-items: center; /* Align items vertically in the center */
}

.icon {
  margin-right: 10px;
}
.wd-modules,
.wd-modules * {
  border-radius: 0%;
  border: none;
  margin: 0px;
  padding: 0px;
}

.wd-modules {
  margin: 5px;
}

.wd-modules > li {
  background-color: lightgray;
  border: 1px solid gray !important;
  border-left: none !important;
}

.wd-modules > li > div {
  padding: 6px;
  border-left: 1px solid gray !important;
}

.wd-modules > li > ul > li {
  padding: 5px;
  border-top: 1px solid gray !important;
  border-left: 4px solid green;
}

.wd-modules > li {
  margin-bottom: 20px;
}

.custom-btn {
  border-radius: 5px; /* Adjust the border-radius value for more or less squareness */
  border-color: lightgrey; /* Set the border color to dark grey */
  height: 40px;
  border: black;
}

.custom1-btn {
  border-radius: 5px; /* Adjust the border-radius value for more or less squareness */
  border-color: lightgrey; /* Set the border color to dark grey */
  padding: 5px 8.5px;
  font-size: 14px;
}

.red-btn {
  background-color: rgb(192, 36, 36); /* Set the border color to dark grey */
  color: white;
}
.module-btn {
  border-radius: 5px; /* Adjust the border-radius value for more or less squareness */
  border-color: lightgrey;
  font-size: 18px;
  height: 40px;
  width: 145px;
  justify-content: center;
  align-items: center;
  display: flex;
  padding-left: 10px;
  
}

@media screen and (max-width: 1200px) {
  .module-btn {
    font-size: 12px;
    height: 40px;
    width: 115px;
  }
}

@media screen and (max-width: 600px) {
  .module-btn {
    font-size: 12px; /* Smaller font size for smaller screens */
    width: 115px;
  }
}

.course-title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

-nav {
  display: flex;
  align-items: center;
  height: 100%;
  width: 50%;
}

/* .course-status {
  
}

.main-container {

} */

.middle-container {
  padding: 10px;
}

.buttons-module {
  display: flex;
  align-items: center; /* Align items vertically */
  max-width: 100%;
}
.buttons-module button,
.buttons-module select {
  margin-left: 2px; /* Adjust the amount of space between buttons */
}
.buttons-module button:first-child {
  margin-left: auto;
}

.dropdown {
  margin-left: 2px;
}
.dropdown-item {
  display: block;
  width: 100%; /* Make the dropdown items take up the full width */
  padding: 0.5rem 1rem; /* Add padding to the dropdown items */
  clear: both; /* Ensure proper rendering */
  color: #212529; /* Text color */
  text-decoration: none; /* Remove underlines */
  background-color: #fff; /* Background color */
  border: none; /* Remove borders */
  font-size: 9.5px;
}

.dropdown-menu {
  display: none;
  position: absolute;
  z-index: 1000;
  background-color: transparent;
  border: none;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-item:hover {
  background-color: #f8f9fa;
}

.dropdown-item:focus {
  background-color: #f8f9fa;
}

.dropdown-item.active {
  background-color: #f8f9fa;
}

.dropdown-item.active:hover {
  background-color: #f8f9fa;
}

.dropdown-item.active:focus {
  background-color: #f8f9fa;
}

.dropdown-item.active:active {
  background-color: #f8f9fa;
}

.week-title {
  background-color: lightgray;
  align-items: center;
}

.right-icon {
  margin-left: 10px;
  float: right;
}

.list-group-item-item li {
  border: 1px solid #000;
  padding: 5px;
  margin-bottom: 5px;
  padding-left: 20px;
  align-items: center;
  align-content: center;
}

.nav-bar-mini {
  background: black;
  display: flex;
  justify-content: center; /* Center items horizontally */
  align-items: center; /* Center items vertically */
  flex-direction: column; /* Stack items vertically */
}


.course-nav-link {
  display: inline-block;
  background-color: transparent;
  border: none;
  top: 0;
  right: 0;
  position: absolute;
  padding: 5px 10px;
  color: white;
  text-decoration: none; /* Remove underline */
}

.kanbas-nav-link {
  display: inline-block;
  background-color: black;
  border: none;
  top: 0;
  left: 0;
  position: absolute;
  padding: 5px 10px;
  color: white;
  text-decoration: none; /* Remove underline */
}

.back-home-container {
  top: 0;
  right: 0;
  text-decoration: none;
  position: absolute;
}

@media (max-width: 768px) {
  .scroll-content.position-fixed {
    position: static;
    left: auto; /* Adjust height as necessary */
    overflow-y: visible;
    /* Other adjustments for smaller screens */
  }
}

.dropdown-menu-kanbas-navbar {
  position: fixed; /* Fixed position */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: white; /* Background color */
  z-index: 1000; /* Make sure it's above other content */
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  padding-top: 10px; /* Adjust as needed */
  overflow-y: auto;
}

.dropdown-item-kanbas-navbar {
  padding: 12px 16px;
  width: 100%;
  text-decoration: none;
  display: block;
  color: red;
}

.dropdown-item-kanbas-navbar:hover {
  background-color: #f1f1f1;
}


.menu-dropdown-courses-navbar {
    position: fixed;
    top: 60px; /* Adjust this variable to match the height of your top bar */
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    background-color: white;
    z-index: 1000; 
    overflow-y: auto; 
    position: fixed; 
    height: 100%; 
}


.menu-items-courses-navbar {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 30%;
  color: red;
  text-decoration: none;
}

.menu-items-courses-navbar:hover {
    text-decoration: underline;
  }
  
